@{
    ViewBag.Title = "Home Page";
}


<div class="container" >
    <div class="col-12">
        mi tabla
    </div>

    <div class="col-12">
        <table id="example" class="table table-bordered table-hover" style="width:100%">
            <thead>
                <tr>
                    <th>id</th>
                    <th>Product_id</th>
                    <th>ProductName</th>
                    <th>Price</th>
                   
                </tr>
            </thead>
            @*<tbody>
               

            </tbody>
            <tfoot>
                <tr>
                    <th>id</th>
                    <th>Product_id</th>
                    <th>ProductName</th>
                    <th>Price</th>
                </tr>
            </tfoot>*@
        </table>
    </div>

</div>

@section styles{
<link href="~/Content/DataTables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />


}

@section scripts    {
<script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
<script src="~/Scripts/DataTables/dataTables.bootstrap4.min.js"></script>


    <script type="text/javascript">
        $(document).ready(function () {
            //$('#example').DataTable();
           

            $('#example').DataTable({
                ajax: {
                    url: '/api/ct_products/',
                    dataSrc: ''
                },
                columns: [
                   { data: 'id' },
                   { data: 'Product_id' },
                   { data: 'ProductName' },
                   { data: 'Price' }

                ]
            });

            //$('#example').dataTable({
            //    "ajax": {
            //        type: "POST",
            //        dataType: "json",
            //        data: JSON.stringify(formData),
            //        contentType: "application/json",
            //        url: "http://www.universalapp.com/api/ct_products/"
            //    }
            //});
        });

    </script>


    }